<ul class="info-list list">
    {{#each this}}
    <li class="info-list-item item">
        <img class="info-img" src="{{flags.svg}}" alt="{{name}}" width="100" height="50">
        <h2 class="info-title title">{{name.common}}</h2>
        </li>
        {{/each}}
</ul>