<ul class="list-info list">
    {{#each this}}
    <li class="list-info-item item">
        <img class="list-info img" src="{{flags.svg}}" width="70" height="35" alt="{{name}}">
        <h2 class="list-info-title title">{{name.common}}</h2>
    </li>
    {{/each}}
</ul>